@layer base {
	@font-face {
		font-family: "IRANSans";
		src: url("../fonts/IRANSansWeb(FaNum)_UltraLight.woff2");
		font-weight: 200;
	}

	@font-face {
		font-family: "IRANSans";
		src: url("../fonts/IRANSansWeb(FaNum)_Light.woff2");
		font-weight: 300;
	}

	@font-face {
		font-family: "IRANSans";
		src: url("../fonts/IRANSansWeb(FaNum).woff2");
		font-weight: 400;
	}

	@font-face {
		font-family: "IRANSans";
		src: url("../fonts/IRANSansWeb(FaNum)_Medium.woff2");
		font-weight: 500;
	}

	@font-face {
		font-family: "IRANSans";
		src: url("../fonts/IRANSansWeb(FaNum)_Bold.woff2");
		font-weight: 700;
	}

	@font-face {
		font-family: "IRANSans";
		src: url("../fonts/IRANSansWeb(FaNum)_Black.woff2");
		font-weight: 900;
	}
}
